/* @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

 {
    margin: 0;
    padding: 0font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display:grid;
    padding-top: 4em;
    padding-inline: 1.5em;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #fdba61, #ff5acd);
}

.card {
    position: relative;
    width: 350px;
    height: 200px;
    padding-top: .5em;
    /* height: 450px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card:hover {
    height: 450px;
    margin-top: 5em;
    margin-bottom: 5em;
}

.imgbox {
    position: absolute;
    left: 50%;
    top: -50px;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .35);
}

.card:hover .imgbox {
    width: 250px;
    height: 250px;
}

.imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 10%;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card .content .details h2 {
    font-size: 1.50em;
    font-weight: 600;
    color: #302f2f;
    line-height: 1.2em;
}

.card .content .details h2 span {
    max-height: fit-content;
    font-size: 0.70rem;
    font-weight: 500;
    opacity: 0.5;
}

.card .content .details .data {
    text-align: left;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.card .content .details .data span {
    font-size: 1.2rem;
    text-align: left;
    color: #000000;
    margin-right: .5rem;
}*/



body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: url('https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5920.jpg?w=826&t=st=1699107639~exp=1699108239~hmac=8e97492c361ad66b1571fec3c27339a8b14d69da449a0103caf025da308903d7')no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixe;
    


}
.form-container
{
    width: 65%;
    max-width: 350px;
    margin: 0 auto;
    padding: 50px;
    background-color:#f5f5f5;
    box-shadow: 0 8px 32px 0 rgba(0, 0 , 0,0.37);
    /* -webkit-box-shadow:  0 2px 4px rgba(147, 42, 42, 0.1); */
    animation: slideIn 0.5s forwards;
    border:2px solid rgba(255, 255, 255, 0.18);
    border-radius: 25px;
    position: relative;
    background: transparent;
    background:linear-gradient(35deg,rgba(255,255,255,0.1),rgba(255,255,255,0),rgba(255,200,255,0));
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(25px);
border-bottom-color:rgba(13, 147, 42, 0.65);



    
    
}
@keyframes slideIn {
0%
{
    transform: translateY(-100%);
}
100%{
    transform: translate(0);
}

}
label{
    font-display: block;
    margin-bottom: 5px;
    color: rgb(6, 6, 4);
}
input{
    width: 100%;
    padding: 10px 8px;
    margin-bottom: 35px;
    box-sizing: border-box;
    border:4px solid rgb(148, 121, 121);
    text-align: center;
    color: blue;
    border-radius: 20px;
    border-color: rgba(15, 52 , 85, .1);
    display: inline-block;
}
button[type=submit]{


    background-color: #45a050;
    color:rgb(20, 3, 3);
    padding: 10px 50px;
    cursor: pointer;
    width: 50%;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin: 13px;
    background:linear-gradient(35deg,rgba(255,255,255,0.1),rgba(255,255,255,0),rgba(255,200,255,0));
    backdrop-filter: blur(20px);
    transition: all 0.3s ease-in-out;
    border: none;
 
}

button[type=submit]:hover{

    background-color: #45a049;

}

h2{
    color: rgb(4, 4, 25);
    text-decoration:underline;
    background-color: #15ab27;
   display:inline-block;
   padding: 10px;
   margin: 10px;
   border-radius: 6px;
   box-shadow: #080b08;
   background:linear-gradient(35deg,rgba(255,255,255,0.1),rgba(255,255,255,0),rgba(255,200,255,0));
   backdrop-filter: blur(20px);



}
select
{
    border-radius: 20px;
    color: rgb(17, 9, 120);
    padding: 5px;
}
textarea
{
    background-color: #c4d7c5;
    border-radius: 5px;
    color: rgb(13, 29, 72);
}








.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 100vh;
    padding: 0.17rem;
    color:#fff ;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113,99,186,255);
}
.sidebar:hover{
    width: 200px;
    transition: 0.1s;
}



.logo{
    height:80 ;
    padding: 16px;
}
.menu{
    height:88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding:1rem;
    margin:8px 0;
    border-radius: all 0.5s ease-in-out;

}
.menu li:hover,
active{
    background: #e0e0e058;
}
.menu a{
    color:#fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}
.menu a span{
    overflow:hidden;

}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;}